
.container {
    display: flex;
    justify-content: center;
    
}

form{
    color: white;
    margin-top: 10%;
    
}

button{
    color: white;
    color: #fff;
  background: #e23961;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}